.glitchButton {
  position: fixed;
  right: 20px;
  top: 20px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
}

.board {
  margin: auto;
}

.nyan {
  background: url("https://emoji.slack-edge.com/T04Q5G460/sisisin/dca153ae0c46d1c3.jpg") no-repeat;
}
