html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  background: url("https://emoji.slack-edge.com/T04Q5G460/sisisin/dca153ae0c46d1c3.jpg") left top/160px;
  color: #333;
}

.board {
  position: relative;
  margin: auto;
  padding: 20px;
  background: #000c;
  box-shadow: 1px 2px 5px #0003, 0 0 0 100vmax #fffe;
  user-select: none;
}

.sime {
  position: relative;
}

.nyan {
  position: absolute;
  background: url("https://emoji.slack-edge.com/T04Q5G460/spining_sisisin/f0a7e075a3b15f2c.gif") no-repeat;
  transition: 200ms ease-out;
}

.nyan-enter,
.nyan-leave-to {
  opacity: 0;
}

.retry {
  position: absolute;
  right: -35px;
  top: -35px;
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 10px solid #333;
  line-height: 1;
  background: #fff;
  border-radius: 50%;
  color: inherit;
  font-size: 40px;
  outline: none;
  transition: 200ms ease-out;
}

.retry:active {
  transform: scale(0.9);
}

.retry:hover {
  border-color: #33c;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.bounce {
  animation: bounce 500ms ease-in-out alternate infinite;
}

@keyframes bounce {
   0% { transform: scale(0.9) }
 100% { transform: scale(1.1) }
}

/* modal */
.modal {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #0008;
  z-index: 9999;
  transition: 300ms ease;
}

.modal-container {
  margin: auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px #0006;
  transition: 300ms ease;
}

.modal-header {
  color: #3c9;
  font-weight: bold;
}

.modal-body {
  margin-top: 1rem;
}

.modal-enter,
.modal-leave-to {
  opacity: 0;
}

.modal-enter > .modal-container,
.modal-leave-to > .modal-container {
  transform: scale(1.1);
}
